<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thoughts</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- bootstap icons -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav id="navbar">
      <a href="/" id="logo">
        <img src="/img/toughts_logo.png" alt="Thoughts" />
      </a>
      <ul>
        <li><a href="/"> Pensamentos </a></li>
        <!-- URL apos identificacao -->
        <li><a href="/login">Entrar</a></li>
        <li><a href="/registrar">Registrar</a></li>
      </ul>
    </nav>
    <div class="container">
      <!-- mensagens -->
      {{{body}}}
    </div>
    <footer><p><span>Toughts</span> &copy; 2022</p></footer>
  </body>
</html>